
<img src="https://i.imgur.com/Eor57Ae.jpg" class="custom-image">
<app-header></app-header>
<div id="container">
  <h1>Add Admin</h1>
  <span class="close-btn">
  </span>
  <div>
  <form #myForm="ngForm">
    <input type="text" name="username"  placeholder="Username" [(ngModel)]="username" required>
    <input type="password" name="password" placeholder="Password" [(ngModel)]="password" required>
    <button type="submit" [disabled]="!myForm.form.valid" [class.enabled-button]="myForm.form.valid" [class.disabled-button]="!myForm.form.valid" (click)="adminSignUp(username,password)">Add Admin</button>
  </form>
</div>
</div>
<script src="src/assets/custom-scripts.js"></script>
