<img src="https://i.imgur.com/Eor57Ae.jpg" class="custom-image">
<app-header></app-header>
<h1>
  <span class="blue"></span> <span class="yellow">HR List

<table class="container">
  <thead>
    <tr>
      <th style="color: cornflowerblue">ID</th>
      <th style="color: cornflowerblue">Username</th>
      <th style="color: cornflowerblue">Email</th>
      <th style="color: cornflowerblue">First Name</th>
      <th style="color: cornflowerblue">Age</th>
      <th style="color: cornflowerblue">Enable Account</th>
      <th style="color: cornflowerblue">Activated</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hr of hrs">
      <td style="color: white">{{hr.id}}</td>
      <td style="color: white">{{ hr.username }}</td>
      <td style="color: white">{{ hr.email }}</td>
      <td style="color: white">{{ hr.firstName }}</td>
      <td style="color: white">{{ hr.age }}</td>
      <td style="color: white">
        <mat-slide-toggle class="custom-slide-toggle" [(ngModel)]="hr.enabled" color="green" (change)="toggleAccount(hr)"></mat-slide-toggle>

      </td>
      <td style="color: white">
        <mat-slide-toggle  [(ngModel)]="hr.activated" color="green" (change)="toggleActivationAccount(hr)"></mat-slide-toggle>
      </td>
    </tr>
  </tbody>
</table>
</span>
</h1>