
<img src="https://i.imgur.com/Eor57Ae.jpg" class="custom-image">
<div class="admin-container">
  <app-header style="background-color: transparent;"></app-header>
  <div class="photo-container" >
    <img src="assets/hire hustle.gif" class="gif-container">
  </div>
  <div class="card-container">
    <a routerLink="/hr">
      <mat-card class="card" style="background-color: transparent; color: white;">
        <div class="card-icon" >
          <mat-icon >group</mat-icon> <!-- Replace with the appropriate Angular Material icon name -->
        </div>
        <mat-card-title>HR</mat-card-title>
        <mat-card-content>
          <p style="color: white;">HR Contents</p>
        </mat-card-content>
      </mat-card>
    </a>

    <a routerLink="/applicant">
      <mat-card class="card" style="background-color: transparent; color: white;">
        <div class="card-icon">
          <mat-icon>group</mat-icon> 
        </div>
        <mat-card-title>Applicant</mat-card-title>
        <mat-card-content>
          <p style="color: white;">Applicant Contents</p>
        </mat-card-content>
      </mat-card>
    </a>
    <a routerLink="/add-admin">
      <mat-card class="card" style="background-color: transparent; color: white;">
        <div class="card-icon">
          <mat-icon>person_add</mat-icon> 
        </div>
        <mat-card-title>Add Admin</mat-card-title>
        <mat-card-content>
          <p style="color: white;">Add Admin</p>
        </mat-card-content>
      </mat-card>
    </a>

    <a routerLink="/job-posts">
      <mat-card class="card" style="background-color: transparent; color: white;">
        <div class="card-icon">
          <mat-icon>person_add</mat-icon> 
        </div>
        <mat-card-title>Job Posts</mat-card-title>
        <mat-card-content>
          <p style="color: white;">Job Posts List</p>
        </mat-card-content>
      </mat-card>
    </a>

  </div>
  
  <app-footer style="background-color: transparent;"></app-footer>
</div>


